################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.SpeedDateUnity
/Library
/Temp
/obj/Debug
/SpeedDateUnity.sln
/Assembly-CSharp.csproj
/.collabignore
/.vs/SpeedDateUnity/DesignTimeBuild
/.vs/SpeedDateUnity/v15

/Build/
NGTools
/Assets/Plugins/NGTools.meta
/Assets/Plugins/NGTools.meta
/Assets/Plugins/EModules
/Assets/Plugins/EModules.meta
